@import "tailwindcss";

@layer components {
    .dashboard-bg {
        background-image: url("/images/dashboard/dashboard-bg.png");
        background-size: cover;
        background-position: center;
    }
}