@use "../../../styles/includes.scss" as *;

.side-panel {
    width: 300px;
    border-right: solid 1px $color-divider;

    &__logo {
        border-bottom: solid 1px $color-divider;
        height: 80px;
        & span {
            @include font(1.8rem, 800);
            color: $color-text-primary;
        }
    }

    &__team-choice {
        padding: 8px;
        border: solid 1px $color-divider;

        &:hover {
            background-color: rgba($color-button-primary-hover, .1);
        }

        & span {
            @include font(1rem, 600);
            color: $color-text-primary;
        }
    }

    &__select {
        background-color: rgba($color-bg-secondary, .6);

        &__team-button {
            padding-bottom: 8px;
            border-bottom: solid 1px $color-border-medium;

            & span {
                @include font(14px, 400);
                color: $color-text-primary;
            }

            &:hover span {
                color: $color-info-500;
            }
        }

        &__add-team {
            background-color: $color-info-400;
            @include font(1rem, 500);
            color: $color-text-on-primary;
            padding: 8px 12px;

            &:hover {
                background-color: $color-info-500;
            }
        }

        &__confirm {
            background-color: $color-success-500;
            @include font(1rem, 500);
            color: $color-text-on-primary;
            padding: 8px 12px;

            &:hover {
                background-color: $color-success-600;
            }
        }
    }

    &__pages {
        & a {
            padding: 8px;
            border: solid 1px $color-divider;

            & svg {
                width: 30px;
                height: 30px;
                color: rgba($color-text-primary, .7);
            }

            &:hover {
                background-color: rgba($color-button-primary-hover, .1);
            }
        }

        & span {
            @include font(14px, 600);
            color: $color-text-primary;
        }
    }

    &__spaces {
        &__header {
            & span {
                @include font(16px, 500);
                color: rgba($color-text-primary, .5);
            }

            & button {
                padding: 8px;
                border: solid 1px $color-divider;
                background-color: rgba($color-button-primary-hover, .1);

                & svg {
                    width: 16px;
                    height: 16px;
                    color: $color-info-600;
                }

                &:hover {
                    background-color: rgba($color-button-primary-hover, .3);
                }
            }
        }

        &__list {
            & button {
                border: solid 1px $color-divider;
                padding: 8px 12px;
                @include font(16px, 500);
                color: $color-text-primary;

                &:hover {
                    background-color: rgba($color-button-primary-hover, .1);
                }
            }

            &__active {
                color: $color-info-500 !important;
                font-weight: 600 !important;
                background-color: rgba($color-button-primary-hover, .1);
            }
        }

        &__add-space {
            &__form {
                background: $color-black;
            }

            &__button {
                padding: 8px 12px;
                border: solid 1px $color-divider;
                background-color: rgba($color-button-primary-hover, .1);
                color: $color-info-600;
                @include font(16px, 600);

                &:hover {
                    background-color: rgba($color-button-primary-hover, .2);
                }
            }
        }
    }
}